 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-slider-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 453px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-1 .u-gallery-1 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-1 .u-gallery-inner-1 {
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 55px;
}

.u-section-1 .u-gallery-2 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-1 .u-gallery-inner-2 {
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-gallery-3 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-1 .u-gallery-inner-3 {
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-image-9 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-gallery-4 {
  height: 354px;
  width: 904px;
  margin: 0 auto;
}

.u-section-1 .u-gallery-inner-4 {
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-image-12 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-1 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-gallery-1 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-gallery-2 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-gallery-3 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-inner-3 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-gallery-4 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-inner-4 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    height: 680px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-gallery-2 {
    height: 680px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 65px;
  }

  .u-section-1 .u-gallery-3 {
    height: 680px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-3 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 65px;
  }

  .u-section-1 .u-gallery-4 {
    height: 680px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-4 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1607px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-2 {
    height: 1607px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-3 {
    height: 1607px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-3 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-4 {
    height: 1607px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-4 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-2 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-3 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-4 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-shape-1 {
  height: 341px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: -281px auto 0 calc(((100% - 1140px) / 2) + 298px);
}

.u-section-2 .u-list-1 {
  width: 1140px;
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 427px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  width: 254px;
  min-height: 172px;
  margin: -57px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-list-item-2 {
  background-size: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-2 {
  width: 254px;
  min-height: 166px;
  margin: -57px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-list-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-3 {
  width: 254px;
  min-height: 166px;
  margin: -57px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    grid-template-rows: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 497px;
  }

  .u-section-2 .u-image-1 {
    height: 283px;
    object-position: 55.18% 50%;
  }

  .u-section-2 .u-group-1 {
    width: 221px;
    min-height: 166px;
    margin-top: -35px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 80px;
  }

  .u-section-2 .u-image-2 {
    height: 283px;
  }

  .u-section-2 .u-group-2 {
    width: 221px;
    margin-top: -35px;
  }

  .u-section-2 .u-social-icons-2 {
    width: 80px;
  }

  .u-section-2 .u-image-3 {
    height: 283px;
  }

  .u-section-2 .u-group-3 {
    width: 221px;
    margin-top: -35px;
  }

  .u-section-2 .u-social-icons-3 {
    width: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1045px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-image-1 {
    height: 335px;
  }

  .u-section-2 .u-group-1 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-image-2 {
    height: 335px;
  }

  .u-section-2 .u-group-2 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-image-3 {
    height: 335px;
  }

  .u-section-2 .u-group-3 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2102px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-1 {
    height: 581px;
    margin-top: 7px;
  }

  .u-section-2 .u-group-1 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-2 {
    height: 581px;
    margin-top: 7px;
  }

  .u-section-2 .u-group-2 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-3 {
    height: 581px;
    margin-top: 7px;
  }

  .u-section-2 .u-group-3 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1676px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .u-section-2 .u-image-1 {
    height: 387px;
    margin-top: 0;
  }

  .u-section-2 .u-group-1 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .u-section-2 .u-image-2 {
    height: 387px;
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .u-section-2 .u-image-3 {
    height: 387px;
    margin-top: 0;
  }

  .u-section-2 .u-group-3 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 921px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 49px auto 0;
}

.u-section-3 .u-slider-1 {
  margin-top: 53px;
  margin-bottom: 0;
  min-height: 610px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-3 .u-image-1 {
  width: 272px;
  height: 272px;
  background-image: url("images/b7d69ea402d021e83d57975058b8b9d0786cea713d347c65c58023a93de630eb11a23931cf65c7ef0200bd8058a45a2d93314f986447c360e9f25c_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  width: 712px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 45px;
}

.u-section-3 .u-image-2 {
  width: 272px;
  height: 272px;
  background-image: url("images/5dcb957e8b4a3d17f292346e23a474305d6f11046dcc149a4c5e7458268adea3ef925b62ab893775d1f165900d402c55bc04a5802c3a9c7dea3ff6_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  width: 712px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 20px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 46px;
  height: 46px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 46px;
  height: 46px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-text-1 {
    margin-top: 58px;
  }

  .u-section-3 .u-slider-1 {
    margin-bottom: 37px;
    min-height: 505px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 701px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 75px;
    padding-left: 70px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 75px;
    padding-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 82px;
  }

  .u-section-3 .u-slider-1 {
    margin-bottom: 23px;
    min-height: 623px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}